<!DOCTYPE HTML>
<html>
  <head>
    <title>Fly Me To The Moon!</title>
    <link href="<%= url('/mystyle.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="content">
      <h2>Enjoy some Frank Sintra!</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5hxibHJOE5E" frameborder="0" allowfullscreen></iframe>
      <p><a href="/">Return Home</a></p>
    </div>
  </body>
</html>
